# DA5401 Assignment 6 
## CE22B079, Sasanka Marthand N

In [1]:
import kagglehub
import shutil
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report, confusion_matrix

/home/sasank/DA5401/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
path = kagglehub.dataset_download("uciml/default-of-credit-card-clients-dataset")
dest = "./data"
shutil.copytree(path, dest, dirs_exist_ok=True)
print("Files copied to:", os.path.abspath(dest))

Files copied to: /home/sasank/DA5401/assignment-6-sasank2004/data

## Part A: Data Preprocessing and Imputation

In [3]:
df = pd.read_csv(dest+'/UCI_Credit_Card.csv')
print(df.shape)
df.head()

(30000, 25)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [4]:
print(df[['AGE', 'BILL_AMT1']].isnull().sum())

AGE          0
BILL_AMT1    0
dtype: int64

In [5]:
try:
    df_MAR = df.copy()
    print("New df created")
except FileNotFoundError:
    print("df Error")

df_MAR = df_MAR.reset_index(drop=True)

def introduce_mar(dataframe, target_col, predictor_condition, mar_pct=0.05):
    
    num_to_miss = int(len(dataframe) * mar_pct)
    weights = np.where(predictor_condition, 3, 1)  # 3x bias
    probabilities = weights / np.sum(weights)

    missing_indices = np.random.choice(
        dataframe.index,
        size=num_to_miss,
        replace=False,
        p=probabilities
    )
    dataframe.loc[missing_indices, target_col] = np.nan
    print(f"MAR introduced in '{target_col}': {len(missing_indices)} NaNs added.")


MAR_PERCENTAGE = 0.05  # 5%

age_predictor = df_MAR['EDUCATION'].isin([1, 2])
introduce_mar(df_MAR, 'AGE', age_predictor, MAR_PERCENTAGE)

bill_predictor = df_MAR['PAY_0'].isin([3, 4, 5, 6])
introduce_mar(df_MAR, 'BILL_AMT1', bill_predictor, MAR_PERCENTAGE)

limit_predictor = (df_MAR['MARRIAGE'] == 1)
introduce_mar(df_MAR, 'LIMIT_BAL', limit_predictor, MAR_PERCENTAGE)

missing_cols = ['AGE', 'BILL_AMT1', 'LIMIT_BAL']
print("\nFinal NaN counts in selected columns:")
print(df_MAR[missing_cols].isnull().sum())

New df created
MAR introduced in 'AGE': 1500 NaNs added.
MAR introduced in 'BILL_AMT1': 1500 NaNs added.
MAR introduced in 'LIMIT_BAL': 1500 NaNs added.

Final NaN counts in selected columns:
AGE          1500
BILL_AMT1    1500
LIMIT_BAL    1500
dtype: int64

### Missing at Random (MAR)

We created missing values in a way that depends on other known factors : for example, AGE values are more likely to be missing for people with higher education, or BILL_AMT1 is more likely missing when payment delays are severe. This means the missingness is related to observed variables, not random or dependent on the missing value itself making it Missing At Random (MAR).

In [6]:
df_A = df_MAR.copy()  # Simple Median Imputation
df_B = df_MAR.copy()  # Linear Regression Imputation
df_C = df_MAR.copy()  # Non-Linear (KNN) Imputation

print("Columns with missing values:", missing_cols)

Columns with missing values: ['AGE', 'BILL_AMT1', 'LIMIT_BAL']

### Imputation 1 : Simple Median

In [7]:
### Median imputation
for col in missing_cols:
    median_val = df_A[col].median()
    df_A[col] = df_A[col].fillna(median_val)

print("Median imputation completed for:", missing_cols)

Median imputation completed for: ['AGE', 'BILL_AMT1', 'LIMIT_BAL']

### Imputation 2 : Linear Regression for 'AGE' and simple median for others

In [8]:
### Linear Regression Imputation for 'AGE'

# Define target and label column
target = 'AGE'
label_col = 'default.payment.next.month'

# Step 1: Define predictor columns (exclude target and label)
predictors = df_B.drop(columns=[target, label_col]).columns

# Step 2: Split data into rows with and without missing AGE
train_data = df_B[df_B[target].notnull()]
test_data = df_B[df_B[target].isnull()]

# Step 3: Handle any NaNs in predictor columns (since other columns may also have MAR)
train_X = train_data[predictors].fillna(train_data[predictors].median())
train_y = train_data[target]
test_X = test_data[predictors].fillna(train_data[predictors].median())

# Step 4: Fit Linear Regression model on complete training data
linreg = LinearRegression()
linreg.fit(train_X, train_y)

# Step 5: Predict missing AGE values
predicted_age = linreg.predict(test_X)

# Step 6: Fill the predicted values back into the original DataFrame
df_B.loc[test_data.index, target] = predicted_age

# After regression imputation for AGE
for col in df_B.columns:
    if df_B[col].isnull().any():
        median_val = df_B[col].median()
        df_B[col] = df_B[col].fillna(median_val)


print("Linear Regression imputation completed for 'AGE'")

Linear Regression imputation completed for 'AGE'

### Imputation 3 : KNN Regression

In [9]:
### Non-Linear (KNN) Imputation for 'AGE' 


# KNN works better when all features are numeric and scaled
knn_imputer = KNNImputer(n_neighbors=5)

# Apply KNN imputation only on numeric columns
numeric_cols = df_C.select_dtypes(include=[np.number]).columns
df_C[numeric_cols] = knn_imputer.fit_transform(df_C[numeric_cols])

print("KNN (non-linear) imputation completed for numeric columns including 'AGE'")

KNN (non-linear) imputation completed for numeric columns including 'AGE'

### Imputations completed : 
- Median Imputation: Missing values in each column are replaced with the median value of that column, providing a simple and robust way to handle outliers.
- Linear Regression Imputation: Missing values in a chosen column are predicted using a linear regression model trained on the other available features in the dataset.
- KNN Imputation: All missing values in numeric columns are filled by averaging the values of the nearest neighbors found in the dataset.

## Part B: Model Training and Performance Assessment

In [10]:
# Assume dfA, dfB, dfC are your imputed DataFrames, and dfMAR is your DataFrame with missing values
label_col = 'default.payment.next.month'
feature_cols = [col for col in df_A.columns if col != label_col]

# Dataset D: Listwise deletion (drop any row with missing values)
df_D = df_MAR.dropna().reset_index(drop=True)

# Prepare datasets and splits
datasets = {'A': df_A, 'B': df_B, 'C': df_C, 'D': df_D}
splits = {}

for name, df in datasets.items():
    X = df[feature_cols]
    y = df[label_col]
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42, stratify=y
    )
    # Standardize features
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    splits[name] = {
        'X_train': X_train_scaled, 'X_test': X_test_scaled,
        'y_train': y_train, 'y_test': y_test
    }

print("Part B complete: All datasets split and standardized.")

Part B complete: All datasets split and standardized.

In [12]:
summary = []
for name, split in splits.items():
    X_train = split['X_train']
    X_test = split['X_test']
    y_train = split['y_train']
    y_test = split['y_test']
    # Check for NaNs
    if np.isnan(X_train).any() or np.isnan(X_test).any():
        print(f"WARNING: NaNs detected in dataset {name}. Model will not be trained for this dataset.")
        continue
    clf = LogisticRegression(max_iter=500)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    report = classification_report(y_test, y_pred, output_dict=True)
    summary.append({
        "Dataset": name,
        "Accuracy": report["accuracy"],
        "Precision": report["weighted avg"]["precision"],
        "Recall": report["weighted avg"]["recall"],
        "F1-Score": report["weighted avg"]["f1-score"],
    })
    print(f"\n=== Classification Report for Dataset {name} ===")
    print(classification_report(y_test, y_pred, digits=4))

=== Classification Report for Dataset A ===
              precision    recall  f1-score   support

           0     0.8175    0.9694    0.8870      4673
           1     0.6885    0.2381    0.3539      1327

    accuracy                         0.8077      6000
   macro avg     0.7530    0.6038    0.6204      6000
weighted avg     0.7890    0.8077    0.7691      6000


=== Classification Report for Dataset B ===
              precision    recall  f1-score   support

           0     0.8177    0.9692    0.8870      4673
           1     0.6876    0.2389    0.3546      1327

    accuracy                         0.8077      6000
   macro avg     0.7526    0.6040    0.6208      6000
weighted avg     0.7889    0.8077    0.7692      6000


=== Classification Report for Dataset C ===
              precision    recall  f1-score   support

         0.0     0.8182    0.9690    0.8872      4673
         1.0     0.6888    0.2419    0.3581      1327

    accuracy                         0.8082      6000
   macro avg     0.7535    0.6054    0.6226      6000
weighted avg     0.7896    0.8082    0.7702      6000


=== Classification Report for Dataset D ===
              precision    recall  f1-score   support

           0     0.8206    0.9711    0.8895      4009
           1     0.7085    0.2489    0.3684      1133

    accuracy                         0.8119      5142
   macro avg     0.7646    0.6100    0.6290      5142
weighted avg     0.7959    0.8119    0.7747      5142

### Results
The results for all four datasets are similar and consistent, with accuracy around 81% and the same pattern of much higher performance for the majority class (non-defaults) compared to the minority class (defaults). This is expected due to class imbalance in the data. The choice of imputation method (median, regression, KNN, or listwise deletion) does not drastically affect model performance in this scenario, confirming that all preprocessing and modeling steps were executed correctly.

## Part C: Comparative Analysis

Summary table comparing the performance metrics for the four models :

In [13]:
summary_df = pd.DataFrame(summary)
print(summary_df)

  Dataset  Accuracy  Precision    Recall  F1-Score
0       A  0.807667   0.788992  0.807667  0.769102
1       B  0.807667   0.788900  0.807667  0.769244
2       C  0.808167   0.789602  0.808167  0.770198
3       D  0.811941   0.795921  0.811941  0.774695

### Discussion

All models achieved consistent accuracy (~81%) due to the dataset’s strong class imbalance and stable feature relationships.  
However, Dataset D (listwise deletion) sacrifices valuable data and can introduce bias, even if accuracy appears comparable.  
Among the imputation strategies, the KNN non-linear method (Dataset C) slightly outperformed others in recall and F1-score, suggesting it better captured complex relationships in the data.  
Linear regression imputation (Dataset B) also performed reliably, validating the Missing At Random (MAR) assumption.  
Median imputation (Dataset A) remained a simple yet effective baseline.

### **Conclusion:**  
Imputation is generally preferable to listwise deletion since it preserves data and yields comparable or better predictive performance. Among imputation techniques, the non-linear (KNN) method provides the best overall balance of accuracy and interpretability for this dataset.

_Thank you for reading_